# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @ariel-adam @bpradipt @bsulich2 @danmihai1 @fitzthum @hgowda-amd @jiazhang0 @magowan @mkulke @mythi @ngoradia @sameo @zvonkok